body{
  margin: 0;
  padding: 0;
 font-family: "Open Sans",sans-serif;
}

*{
     box-sizing: border-box;
}
.loader-container{
    width: 100%;
    height: 100vh;
    background-color: #111;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader{
    width: 50px;
    height: 50px;
    border: 5px solid;
    color: #3498db;
    border-radius: 50%;
    border-top-color: transparent;
    animation: loader 1.2s linear infinite;
}

@keyframes loader{
 25%{
        color: #0a6fc2;
    }
    50%{
        color: #085391;
    }
    75%{
        color:#0a6fc2;
    }
    to{
        transform: rotate(360deg);
    }
}

/*  header part      */
header{
    position: fixed;
    top: 0;
    left: 0;
    background:rgba(0,0,0,.2);
    width: 100%;
    box-sizing: border-box;
    z-index: 1;
    transition: 1.5s;
    
   
}
header.scrolled{
    background: #000;
    
}


header .logo .img1 img{
    height:100px;
    width: 100px;
      transition: 0.8s ease-in-out;
}
header .logo .img2 img{
    height: 60px;
    width: 60px;
    margin-top: 8px;
    margin-left: 3px;
    transition: 0.8s ease-in-out;
   
     
}

header .logo .img2{
   opacity: 0%;
    transition: 0.8s ease-in-out;
   
}


header.scrolled .logo .img1{
    opacity: 0%;
   height: 100px;
    width: 100px;
    
}

header.scrolled .logo .img2{
    opacity: 100%;
    margin-left: 35px;
    
}
header .logo .img1 img{
    height: 126px;
    width: 171px;
    margin-top: -7px;
    margin-left: 50px;
}

header .logo{
   height: 10px;
    margin-top: -8px;
}

header.scrolled logo{
    height: 50px;
}
header nav{
    float: right;
    transition: 1.5s;   
}

header nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    
}

header nav ul li {
    list-style-type: none;
    transition: 0.5s;
    
}

header nav ul li a {
    height: 80px;
    line-height: 80px;
    padding: 0 30px;
    color: #fff;
    text-decoration: none;
    font-family: 'Montserrat';
    transition: .8s;
    font-size: 18px;
}

header.scrolled nav ul li a {
    color: #fff;
    height: 59px;
    line-height: 59px;
     
}
header nav ul li:hover a{
    color: #fff;
    
}
header nav ul li a.scrolled{
   padding: 0 20px; 
    font-size: 16px;
}

header nav ul li:hover{
    color: #fff;
    background: #085391;
}
header nav ul li.active
{
    color: #fff;
    background: #0a6fc2;
}



.menu-toggle{
    color: #000;
    float: right;
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
    display: none ;   
}

header.scrolled .menu-toggle{
    color: #fff;
}

@media (max-width: 991px)
{
    header
    { 
        padding: 0 20px;
        height: 80px;
    }
    header.scrolled{
        height: 64px;
    }
    
    header .logo .img2 img{
        margin-left: 25px;
    }
     
    .menu-toggle
    {
        display: block;
    }
    header nav 
    {   
        position: absolute;
        width: 100%;
        height: calc(100vh - 64px);
        background: #333;
        top: 80px;
        left: -100%;
        transition: 0.8s;
    }
    header.scrolled nav{
        top: 64px;
    } 
    header nav.active{
       left: 0; 
    }
    header nav ul{
        display: block;
        text-align: center;
    }
    header nav ul li 
    {
       border-bottom: 1px solid rgb(0,0,0);
    }


header nav ul li a {
    color: #fff;
    line-height: 50px;
    transition: 0.8s;
    font-size: 16px;
}
    
    .menu-toggle span{
        color: #fff;
        background: #fff;
        width: 48px;
        height: 5px;
        display: block;
         margin: 5px;
         transition: 0.8s;
    }
    
    .menu-toggle:hover span.rotate{
        background-color:#0a6fc2;
         }
    
    header .menu-toggle span.one{
       margin-top: 22px;
    }
   
    
    header.scrolled .menu-toggle span{
        width: 40px;
    }
    header.scrolled .menu-toggle span.one.rotate{
        margin-top: 20px;
    }
     header.scrolled .menu-toggle span.one{
       margin-top: 20px;
       
    }
    
    .menu-toggle span.one.rotate{
       transform: rotate(112deg);
        margin: 34px 0 0 0;
    }
    .menu-toggle span.two.rotate{
        display: none; 
    }
    .menu-toggle span.three.rotate{
        transform: rotate(-141deg);
        margin: -1px 0px 0 0;
            }

}
/*  header part      */




.image img{
    width: 100%;
    height: auto;
        
}

.image{
    width: 100%;
    height: auto;
    background: url(OUT-banner.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    
}

/*  about us    */


.about-section{
    background: url(TRY4.jpg) no-repeat left;
    background-size: 55%;
    background-color: #fdfdfd;
    overflow: hidden;
    padding: 100px 0;
}

.inner-container{
    width: 55%;
    float: right;
    background-color: #fdfdfd;
    padding: 150px;
}

.inner-container h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}

.text{
    font-size: 13px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}



@media screen and (max-width:1200px){
    .inner-container{
        padding: 80px;
    }
}

@media screen and (max-width:1000px){
    .about-section{
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-container{
        width: 100%;
    }
}

@media screen and (max-width:600px){
    .about-section{
        padding: 0;
    }
    .inner-container{
        padding: 60px;
    }
}
/*  about us    */


/*  service section */

.services{
  background: #f1f1f1;
  text-align: center;
}
.services h1{
  display: inline-block;
  text-transform: uppercase;
  border-bottom: 4px solid #3498db;
  font-size: 20px;
  padding-bottom: 10px;
  margin-top: 40px;
}
.cen{
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 20px;
}
.service{
  display: inline-block;
  width: calc(100% / 3);
  margin: 0 -2px;
  padding: 20px;
  box-sizing: border-box;
  cursor: pointer;
  transition: 0.4s;
}
.service:hover{
  background: #ddd;
}
.service i{
  color: #3498db;
  font-size: 34px;
  margin-bottom: 30px;
}
.service h2{
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 500;
  margin: 0;
}
.service p{
  color: gray;
  font-size: 15px;
  font-weight: 500;
}
@media screen and (max-width: 800px) {
  .service{
    width: 50%;
  }
}
@media screen and (max-width: 500px) {
  .service{
    width: 100%;
  }
}


/*  service section */


/*  service section2 */


.services-section{
  background: url(bg.jpg);
  background-size: cover;
  background-attachment: fixed;
  padding: 60px 0;
}
.inner-width{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
  overflow: hidden;
}
.section-title{
  text-align: center;
  color: #ddd;
  text-transform: uppercase;
  font-size: 30px;
}
.services-section .inner-width .border{
  width: 160px;
  height: 2px;
  background: #82ccdd;
  margin: 40px auto;
}
.services-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.service-box{
  max-width: 33.33%;
  padding: 10px;
  text-align: center;
  color: #ddd;
  cursor: pointer;
}

.service-icon{
  display: inline-block;
  width: 70px;
  height: 70px;
  border: 3px solid #82ccdd;
  color: #82ccdd;
  transform: rotate(45deg);
  margin-bottom: 30px;
  margin-top: 16px;
  transition: 0.3s linear;
}
.service-icon i{
  line-height: 70px;
  transform: rotate(-45deg);
  font-size: 26px;
}
.service-box:hover .service-icon{
  background: #82ccdd;
  color: #ddd;
}
.service-title{
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.service-desc{
  font-size: 14px;
}

@media screen and (max-width:960px) {
  .service-box{
    max-width: 45%;
  }
}

@media screen and (max-width:768px) {
  .service-box{
    max-width: 50%;
  }
}

@media screen and (max-width:480px) {
  .service-box{
    max-width: 100%;
  }
}

/*  service section2 */

/* our team  */

.team-section{
  background: #f1f1f1;
  text-align: center;
}
.inner-width{
  max-width: 1200px;
  margin: auto;
  padding: 40px;
  color: #333;
  overflow: hidden;
}
.team-section h1{
  font-size: 20px;
  text-transform: uppercase;
  display: inline-block;
  border-bottom: 4px solid;
  padding-bottom: 10px;
}
.pe{
  float: left;
  width: calc(100% / 3);
  overflow: hidden;
  padding: 40px 0;
  transition: 0.4s;
}
.pe:hover{
  background: #ddd;
}
.pe img{
  width: 120px;
  height: 120px;
}
.p-name{
  margin: 16px 0;
  text-transform: uppercase;
}
.p-des{
  font-style: italic;
  color: #3498db;
}
.p-sm{
  margin-top: 12px;
}
.p-sm a{
  margin: 0 4px;
  display: inline-block;
  width: 30px;
  height: 30px;
  transition: 0.4s;
}
.p-sm a:hover{
  transform: scale(1.3);
}
.p-sm a i{
  color: #333;
  line-height: 30px;
}

.p-sm a i:hover{
    color:  #3498db;
}
@media screen and (max-width:600px) {
  .pe{
    width: 100%;
  }
}

/* our team  */


/* FOOTER  */

footer{
  background: #000;
  padding: 90px 0;
    color: #FFF;
}

.footer-container{
  max-width: 1300px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;
}

.logo{
  width: 180px;
}

.social-media{
  margin: 20px 0;
}

.social-media a{
  color: #0a6fc2;
  margin-right: 25px;
  font-size: 22px;
  text-decoration: none;
  transition: .3s linear;
}

.social-media a:hover{
  color: #FFF;
}

.right-col h1{
  font-size: 26px;
}

.border{
  width: 100px;
  height: 4px;
  background: #0a6fc2;
}

.newsletter-form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.txtb{
  flex: 1;
  padding: 18px 40px;
  font-size: 16px;
  color: #0a6fc2;
  background: #ddd;
  border: none;
  font-weight: 700;
  outline: none;
  border-radius: 30px;
  min-width: 260px;
}

.btn{
  padding: 18px 40px;
  font-size: 16px;
  color: #f1f1f1;
  background: #0a6fc2;
  border: none;
  font-weight: 700;
  outline: none;
  border-radius: 30px;
  margin-left: 20px;
  cursor: pointer;
  transition: opacity .3s linear;
}

.btn:hover{
  opacity: .7;
}

.page-content{
  min-height: 100vh;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width:960px) {
  .footer-container{
    max-width: 600px;
  }
  .right-col{
    width: 100%;
    margin-bottom: 60px;
  }

  .left-col{
    width: 100%;
    text-align: center;
  }
}


@media screen and (max-width:700px){
  .btn{
    margin: 0;
    width: 100%;
    margin-top: 20px;
    }
}

/* FOOTER  */
